<%= render 'shared/error_messages' %>

<%= form_with model: comment do |f| %>
  <%= f.hidden_field :board_id %>
  <div class="ui form">
    <div class="field">
      <label>Comment</label>
      <%= f.text_area :comment, rows: 5 %>
    </div>
  </div>
  <br>
  <%= f.submit '送信', class: 'ui submit button' %>
<% end %>