<%= render 'shared/error_messages' %>

<%= form_with model: board do |f| %>
  <div class="ui small form">
    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <label>ふりがな</label>
        <%= f.text_field :furigana %>
      </div>
      <div class="field">
        <label>年齢</label>
        <%= f.text_field :age %>
      </div>
      <div class="field">
        <label>症状</label>
        <%= f.text_field :title %>
      </div>
    </div>
  </div>

  <div class="ui small form">
    <div class="two fields">
      <div class="field">
        <label>Address</label>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <label>TEL</label>
        <%= f.text_field :tel %>
      </div>
      <div class="field">
        <label>E-mail</label>
        <%= f.text_field :email %>
      </div>
    </div>
  </div>


  <%# <label class="booking">Booking</label>
  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <div class="input-group date" id="datePicker" data-target-input="nearest">
          <input type="text" class="form-control form-control-sm datetimepicker-input" data-target="#datePicker"/>
          <div class="input-group-append" data-target="#datePicker" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3" style="position: relative; right: 15px;">
      <div class="form-group">
        <div class="input-group date" id="timePicker" data-target-input="nearest">
          <input type="text" class="form-control form-control-sm datetimepicker-input" data-target="#timePicker"/>
          <div class="input-group-append" data-target="#timePicker" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div> %>

<%= f.date_field :booking %>
<%= f.time_field :booking_time %>

<div class="form-group">
  <p>Tag</p>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
    <div class="form-check">
      <%= tag.label do %>
        <%= tag.check_box class: 'form-check-input' %>
        <%= tag.text %>
      <% end %>
    </div>
  <% end %>
</div>

  <div class="ui form">
    <div class="field">
      <label>Text</label>
      <%= f.text_area :body, rows: 10 %>
    </div>
  </div>
  <br>

  <%= f.submit '保存', class: 'ui submit button' %>
<% end %>


<script type="text/javascript">
  $(function () {
    $('#datePicker').datetimepicker({locale: 'ja', dayViewHeaderFormat: 'YYYY年M月' ,format: 'YYYY/MM/DD'});
    $('#timePicker').datetimepicker({locale: 'ja', format: 'HH:mm'});
  });
</script>