<h1>診察一覧</h1>

<div class="m1-auto boards__linkBox text-left">
  <%= form_with url: boards_path, method: :get, class: 'boards__searchForm' do %>

    <%= select_tag :tag_id,
                  options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                  {
                    prompt: 'タグで絞り込み',
                    class: 'form-control boards__select',
                    onchange: 'submit(this.form);'
                  }
    %>
  <% end %>
</div>

<%= link_to 'New', new_board_path, class: 'ui right floated button' %>
<br><br>

<% if flash[:notice] %>
  <div class="ui red message"><%= flash[:notice] %></div>
<% end %>
<table class="ui selectable striped table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Tag</th>
      <th>Condition</th>
      <th>Updated Time</th>
      <th>Author</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @boards.each do |board| %>
    <tr>
      <td><%= board.id %></td>
      <td><%= board.name %></td>
      <td><%= board.age %></td>
      <td>
        <% board.tags.each do |tag| %>
          <div class="mini ui button">
            <%= tag.name %>
          </div>
        <% end %>
      </td>
      <td><%= board.title %></td>
      <td><%= board.updated_at.to_s(:datetime_jp) %></td>
      <td><%= board.user_id %></td>
      <td><%= link_to '詳細', board %></td>
      <td><%= link_to '削除', board, method: :delete %></td>
    </tr>
    <tr>
  <% end %>

  </tbody>
</table>

<%= paginate @boards %>
<br><br>