<h1>予約スケジュール</h1>

ああ<%= @boards  %>

<div class="content text-right">
  <a class="js-modal-open ui blue label book_label" href="">
    New
  </a>
</div>
<div class="modal js-modal">
  <div class="modal__bg js-modal-close">
  </div>
    <div class="modal__content">
      <div>
        <%= form_with(model: @plan, local: true) do |f| %>
          <div class="ui small form grid form_g">
            <div class="fields sixteen wide column form_column">
              <!-- タイトル -->
              <div class="field my-3">
                <%= f.label :title %>
                <%= f.text_field :title %>
              </div>
              <!-- 予約日 -->
              <%= f.label :start_time %>
              <div class="two fields ml-0">
                  <%= f.datetime_field :start_time, :class => 'ui calendar four wide column mr-4', :id => "example3" %>
              </div>
              <!-- テキストエリア -->
                <%= f.label :content %>
                <%= f.text_area :content %>
            </div>
          </div>

          <div class="form_submit text-center">
            <%= f.submit '作成', class: 'ui submit button' %>
          </div>
        <% end %>
      </div>
  </div>
</div>



<%= month_calendar events: @plans do |date,plans| %>
  <%= date.day %>

  <% plans.each do |plan| %>
    <div>
      <%= link_to plan.title, plan %>
    </div>
  <% end %>
<% end %>



<p id="notice"><%= notice %></p>
<table>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.title %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan.id) %></td>
        <td><%= link_to 'Destroy',plan_path(plan.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>本日の予約</h2>
<table class="ui selectable striped table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Tag</th>
      <th>Booking</th>
      <th>Condition</th>
      <th>Update Time</th>
      <th>Reception</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>テスト1</td>
      <td>35</td>
      <td>虫歯</td>
      <td>12/25</td>
      <td>歯が痛い</td>
      <td>12/23 19:00</td>
      <td>kou</td>
      <td><%= link_to '詳細' %></td>
      <td><%= link_to '削除' %></td>
    </tr>
    <tr>
      <td>2</td>
      <td>テスト1</td>
      <td>35</td>
      <td>虫歯</td>
      <td>12/25</td>
      <td>歯が痛い</td>
      <td>12/23 19:00</td>
      <td>kou</td>
      <td><%= link_to '詳細' %></td>
      <td><%= link_to '削除' %></td>
    </tr>
    <tr>
      <td>3</td>
      <td>テスト1</td>
      <td>35</td>
      <td>虫歯</td>
      <td>12/25</td>
      <td>歯が痛い</td>
      <td>12/23 19:00</td>
      <td>kou</td>
      <td><%= link_to '詳細' %></td>
      <td><%= link_to '削除' %></td>
    </tr>
    <tr>
      <td>4</td>
      <td>テスト1</td>
      <td>35</td>
      <td>虫歯</td>
      <td>12/25</td>
      <td>歯が痛い</td>
      <td>12/23 19:00</td>
      <td>kou</td>
      <td><%= link_to '詳細' %></td>
      <td><%= link_to '削除' %></td>
    </tr>
    <tr>
      <td>5</td>
      <td>テスト1</td>
      <td>35</td>
      <td>虫歯</td>
      <td>12/25</td>
      <td>歯が痛い</td>
      <td>12/23 19:00</td>
      <td>kou</td>
      <td><%= link_to '詳細' %></td>
      <td><%= link_to '削除' %></td>
    </tr>
    <tr>
      <td>6</td>
      <td>テスト1</td>
      <td>35</td>
      <td>虫歯</td>
      <td>12/25</td>
      <td>歯が痛い</td>
      <td>12/23 19:00</td>
      <td>kou</td>
      <td><%= link_to '詳細' %></td>
      <td><%= link_to '削除' %></td>
    </tr>
  </tbody>
</table>



<script>
  $(function(){
      $('.js-modal-open').on('click',function(){
          $('.js-modal').fadeIn();
          return false;
      });
      $('.js-modal-close').on('click',function(){
          $('.js-modal').fadeOut();
          return false;
      });
  });
</script>

<script>
$('#example1').calendar({
  type: 'date',
  formatter: {
    date: function(date){
      var day = ('0' + date.getDate()).slice(-2);
      var month = ('0' + (date.getMonth() + 1)).slice(-2);
      var year = date.getFullYear();
      return year + '/' + month + '/' + day;
    }
  }
});

$('#example3').calendar({
  type: 'time'
});
</script>