
<%= form_with(model: @plan, local: true) do |f| %>
  <div class="">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="">
    <%= f.label :booking_time %>
    <%= f.time_field :booking_time %>
  </div>
  
  <div class="">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="">
    <%= f.submit %>
  </div>
<% end %>